package com.lamudi.networking.api.dto;

import com.fasterxml.jackson.annotation.JsonIgnoreProperties;
import com.fasterxml.jackson.annotation.JsonProperty;

import java.util.ArrayList;
import java.util.List;
import java.util.Map;
import java.util.HashMap;
{{#models}}
{{#model}}
{{#description}}
/**
 * {{description}}
 **/
{{/description}}

@JsonIgnoreProperties(ignoreUnknown = true)
public class {{classname}} extends BaseDTO {
    {{#vars}}
    @JsonProperty(value = "{{baseName}}"{{#required}}, required = true{{/required}})
    private {{#isContainer}}{{{datatype}}}{{/isContainer}}{{#isNotContainer}}{{{baseType}}}{{/isNotContainer}} {{name}}{{#isContainer}}{{#defaultValue}} = {{{defaultValue}}}{{/defaultValue}}{{/isContainer}};
    {{/vars}}
    {{#vars}}
    public {{#isContainer}}{{{datatype}}}{{/isContainer}}{{#isNotContainer}}{{{baseType}}}{{/isNotContainer}} {{getter}}() {
        return {{name}};
    }
    {{/vars}}
}
{{/model}}
{{/models}}
