import Foundation

{{newline}}
{{#models}}
{{#model}}
class {{classname}}: BaseModel, Deserializable {
{{#vars}}
    var {{name}}:{{datatype}}?{{#description}}/*{{{description}}} {{#isNotRequired}}[optional]{{/isNotRequired}}*/{{/description}}
{{/vars}}

    required init(data: [String : AnyObject]) { 
    {{#vars}}
        {{name}} <<<{{#complexType}}<{{/complexType}}{{#isContainer}}*{{/isContainer}} data["{{name}}"]{{/vars}} 
        
    }
}
{{/model}}
{{/models}}